/*css/color_typing.css*/
:root {
    --color-ty1: #ec1839;
    --color-ty2: #fa5b0f;
    --color-ty3: #37b182;
    --color-ty4: #1854b4;
    --color-ty5: #f021b2;
    --color-ty6: #21f02f;
    --color-ty7: #21e9f0;
}

