
*.bak
css/stylee.css
images/about/signature-01.png
images/backgrounds/pattern-01-exp.svg
js/typing-01.js
js/typing_probas.js
modals.html
images/icons/moon.svg
images/icons/sun.svg
indexf.html
indexp.html
php/schemaLdJson.txt
